<?xml version='1.0' encoding='UTF-8' standalone='yes' ?>
<Robot type="FirstInspires-FTC">
    <LynxUsbDevice name="Control Hub Portal" serialNumber="(embedded)" parentModuleAddress="173">
        <LynxModule name="Expansion Hub" port="2">
            <goBILDA5202SeriesMotor name="slidesMotor0" port="0" />
            <goBILDA5202SeriesMotor name="slidesMotor1" port="1" />
            <goBILDA5202SeriesMotor name="intake" port="2" />
            <goBILDA5202SeriesMotor name="hang" port="3" />
            <ContinuousRotationServo name="leftHang" port="0" />
            <Servo name="release" port="1" />
            <Servo name="topServo" port="2" />
            <Servo name="V4BarServo1" port="3" />
            <Servo name="V4BarServo2" port="4" />
            <ContinuousRotationServo name="rightHang" port="5" />
            <AnalogInput name="v4BarServo1Encoder" port="0" />
            <AnalogInput name="analogInput1" port="1" />
            <AnalogInput name="bottomTurretEncoder" port="2" />
            <AnalogInput name="analogInput3" port="3" />
            <DigitalDevice name="intakeBeamBreak" port="0" />
            <DigitalDevice name="depositBeamBreak" port="1" />
        </LynxModule>
        <LynxModule name="Control Hub" port="173">
            <goBILDA5202SeriesMotor name="leftFront" port="0" />
            <goBILDA5202SeriesMotor name="leftRear" port="1" />
            <goBILDA5202SeriesMotor name="rightFront" port="2" />
            <goBILDA5202SeriesMotor name="rightRear" port="3" />
            <Servo name="actuation " port="0" />
            <Servo name="airplane" port="1" />
            <Servo name="rightDropper" port="3" />
            <Servo name="leftDropper" port="4" />
            <AnalogInput name="distRight" port="1" />
            <AnalogInput name="distLeft" port="3" />
            <DigitalDevice name="limitSwitch1" port="1" />
            <DigitalDevice name="limitSwitch2" port="3" />
            <ControlHubImuBHI260AP name="imu" port="0" bus="0" />
            <HuskyLens name="huskylens" port="0" bus="1" />
        </LynxModule>
    </LynxUsbDevice>
    <Webcam name="Webcam 1" serialNumber="3D46502F" />
</Robot>
